
<!-- Button trigger modal -->
<button class="btn btn-primary float-right" mat-raised-button
(click)="addClick()"

>
    Add Department
  </button>


<!--table start from here-->

<table class="table table-striped">

      <thead>
          <tr>
              <th> DepartmentId </th>
              <th> Department Name</th>
              <th> Options </th>
          </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of DepartmentList">
            <td>{{data.DepartmentId}} </td>
            <td>{{data.DepartName}} </td>
            <td>
               <button type="button" class="btn btn-light mr-1">
               Edit
               </button>
              <button type="button" class="btn btn-light mr-1">
               Delete
               </button>

            </td>

      </tr>
      </tbody>
</table>
